In [1]:
import pandas as pd

In [2]:
daily_daily = pd.read_parquet(r"D:\Data_Root\daily\daily_2015.parquet")
funda = pd.read_parquet(r"D:\Data_Root\fundamentals\fundamentals_2015.parquet")
limit = pd.read_parquet(r"D:\Data_Root\trading_details\limits_2015.parquet")

In [3]:
daily_daily

                                 open         high          low        close  \
order_book_id date
000001.XSHE   2015-01-05  1503.554091  1530.823052  1466.882040  1506.375018
              2015-01-06  1490.389765  1541.166451  1462.180495  1483.807602
              2015-01-07  1463.120804  1488.509147  1438.672770  1455.598332
              2015-01-08  1457.478950  1464.061113  1401.060410  1406.702264
              2015-01-09  1401.060410  1492.270383  1383.194539  1417.985972
...                               ...          ...          ...          ...
603999.XSHG   2015-12-25    40.150000    40.150000    40.150000    40.150000
              2015-12-28    44.170000    44.170000    44.170000    44.170000
              2015-12-29    48.590000    48.590000    48.590000    48.590000
              2015-12-30    53.450000    53.450000    53.450000    53.450000
              2015-12-31    58.800000    58.800000    58.000000    58.800000

                                volume  total_turnover  prev_close
order_book_id date
000001.XSHE   2015-01-05  4.966040e+06    4.565388e+09       15.84
              2015-01-06  3.761152e+06    3.453446e+09       16.02
              2015-01-07  2.951601e+06    2.634796e+09       15.78
              2015-01-08  2.443951e+06    2.128003e+09       15.48
              2015-01-09  4.355039e+06    3.835378e+09       14.96
...                                ...             ...         ...
603999.XSHG   2015-12-25  2.140000e+05    8.592100e+06       36.50
              2015-12-28  2.579000e+05    1.139144e+07       40.15
              2015-12-29  3.143010e+05    1.527189e+07       44.17
              2015-12-30  6.016130e+05    3.215622e+07       48.59
              2015-12-31  2.828588e+07    1.662659e+09       53.45

[666154 rows x 7 columns]

In [5]:
daily_daily.groupby(['date'])['open'].agg(['mean'])

                  mean
date
2015-01-05  106.721819
2015-01-06  107.907883
2015-01-07  109.643004
2015-01-08  110.038263
2015-01-09  108.831718
...                ...
2015-12-25  168.195801
2015-12-28  169.621300
2015-12-29  164.520939
2015-12-30  166.385320
2015-12-31  167.673834

[244 rows x 1 columns]

In [7]:
daily_daily.index.get_level_values(0)

Index(['000001.XSHE', '000001.XSHE', '000001.XSHE', '000001.XSHE',
       '000001.XSHE', '000001.XSHE', '000001.XSHE', '000001.XSHE',
       '000001.XSHE', '000001.XSHE',
       ...
       '603999.XSHG', '603999.XSHG', '603999.XSHG', '603999.XSHG',
       '603999.XSHG', '603999.XSHG', '603999.XSHG', '603999.XSHG',
       '603999.XSHG', '603999.XSHG'],
      dtype='object', name='order_book_id', length=666154)

In [12]:
pd.merge(limit, funda, on=['order_book_id', 'date'])

                             limit_up   limit_down    market_cap  pe_ratio  \
order_book_id date
000001.XSHE   2015-01-05  1638.018278  1340.880634  1.830268e+11    9.5183
              2015-01-06  1656.824458  1355.925578  1.802848e+11    9.3757
              2015-01-07  1632.376424  1335.238780  1.768574e+11    9.1974
              2015-01-08  1601.346227  1309.850437  1.709164e+11    8.8885
              2015-01-09  1547.748614  1265.655914  1.722874e+11    8.9598
...                               ...          ...           ...       ...
603999.XSHG   2015-12-25    40.150000    32.850000  9.636000e+09   47.4206
              2015-12-28    44.170000    36.140000  1.060080e+10   52.1686
              2015-12-29    48.590000    39.750000  1.166160e+10   57.3890
              2015-12-30    53.450000    43.730000  1.282800e+10   63.1291
              2015-12-31    58.800000    48.110000  1.411200e+10   69.4479

                          pb_ratio
order_book_id date
000001.XSHE   2015-01-05    1.4442
              2015-01-06    1.4225
              2015-01-07    1.3955
              2015-01-08    1.3486
              2015-01-09    1.3594
...                            ...
603999.XSHG   2015-12-25    9.1966
              2015-12-28   10.1174
              2015-12-29   11.1298
              2015-12-30   12.2430
              2015-12-31   13.4684

[666154 rows x 5 columns]

In [13]:
limit.join(funda)

                             limit_up   limit_down    market_cap  pe_ratio  \
order_book_id date
000001.XSHE   2015-01-05  1638.018278  1340.880634  1.830268e+11    9.5183
              2015-01-06  1656.824458  1355.925578  1.802848e+11    9.3757
              2015-01-07  1632.376424  1335.238780  1.768574e+11    9.1974
              2015-01-08  1601.346227  1309.850437  1.709164e+11    8.8885
              2015-01-09  1547.748614  1265.655914  1.722874e+11    8.9598
...                               ...          ...           ...       ...
603999.XSHG   2015-12-25    40.150000    32.850000  9.636000e+09   47.4206
              2015-12-28    44.170000    36.140000  1.060080e+10   52.1686
              2015-12-29    48.590000    39.750000  1.166160e+10   57.3890
              2015-12-30    53.450000    43.730000  1.282800e+10   63.1291
              2015-12-31    58.800000    48.110000  1.411200e+10   69.4479

                          pb_ratio
order_book_id date
000001.XSHE   2015-01-05    1.4442
              2015-01-06    1.4225
              2015-01-07    1.3955
              2015-01-08    1.3486
              2015-01-09    1.3594
...                            ...
603999.XSHG   2015-12-25    9.1966
              2015-12-28   10.1174
              2015-12-29   11.1298
              2015-12-30   12.2430
              2015-12-31   13.4684

[666154 rows x 5 columns]

In [20]:
st = pd.read_parquet(r"D:\Data_Root\trading_details\st_2015.parquet")

In [21]:
st_long = st.T.stack().to_frame('is_st')
st_long.index.names = ['order_book_id', 'date']
st_long

                          is_st
order_book_id date
000001.XSHE   2015-01-05  False
              2015-01-06  False
              2015-01-07  False
              2015-01-08  False
              2015-01-09  False
...                         ...
603999.XSHG   2015-12-25  False
              2015-12-28  False
              2015-12-29  False
              2015-12-30  False
              2015-12-31  False

[687836 rows x 1 columns]

In [23]:
daily_daily.join(st_long).isna().sum()

open              0
high              0
low               0
close             0
volume            0
total_turnover    0
prev_close        0
is_st             0
dtype: int64

In [ ]:
daily_daily

                                 open         high          low        close  \
order_book_id date
000001.XSHE   2015-01-05  1503.554091  1530.823052  1466.882040  1506.375018
              2015-01-06  1490.389765  1541.166451  1462.180495  1483.807602
              2015-01-07  1463.120804  1488.509147  1438.672770  1455.598332
              2015-01-08  1457.478950  1464.061113  1401.060410  1406.702264
              2015-01-09  1401.060410  1492.270383  1383.194539  1417.985972
...                               ...          ...          ...          ...
603999.XSHG   2015-12-25    40.150000    40.150000    40.150000    40.150000
              2015-12-28    44.170000    44.170000    44.170000    44.170000
              2015-12-29    48.590000    48.590000    48.590000    48.590000
              2015-12-30    53.450000    53.450000    53.450000    53.450000
              2015-12-31    58.800000    58.800000    58.000000    58.800000

                                volume  total_turnover  prev_close
order_book_id date
000001.XSHE   2015-01-05  4.966040e+06    4.565388e+09       15.84
              2015-01-06  3.761152e+06    3.453446e+09       16.02
              2015-01-07  2.951601e+06    2.634796e+09       15.78
              2015-01-08  2.443951e+06    2.128003e+09       15.48
              2015-01-09  4.355039e+06    3.835378e+09       14.96
...                                ...             ...         ...
603999.XSHG   2015-12-25  2.140000e+05    8.592100e+06       36.50
              2015-12-28  2.579000e+05    1.139144e+07       40.15
              2015-12-29  3.143010e+05    1.527189e+07       44.17
              2015-12-30  6.016130e+05    3.215622e+07       48.59
              2015-12-31  2.828588e+07    1.662659e+09       53.45

[666154 rows x 7 columns]

In [48]:
filtered_df = daily_daily.loc[pd.IndexSlice[:, '2015-01-01':'2015-06-30'], :]

In [49]:
filtered_df

                                 open         high          low        close  \
order_book_id date
000001.XSHE   2015-01-05  1503.554091  1530.823052  1466.882040  1506.375018
              2015-01-06  1490.389765  1541.166451  1462.180495  1483.807602
              2015-01-07  1463.120804  1488.509147  1438.672770  1455.598332
              2015-01-08  1457.478950  1464.061113  1401.060410  1406.702264
              2015-01-09  1401.060410  1492.270383  1383.194539  1417.985972
...                               ...          ...          ...          ...
603998.XSHG   2015-06-24    84.852654    84.852654    84.852654    84.852654
              2015-06-25    84.852654    84.852654    84.852654    84.852654
              2015-06-26    84.852654    84.852654    84.852654    84.852654
              2015-06-29    84.852654    84.852654    84.852654    84.852654
              2015-06-30    84.852654    84.852654    84.852654    84.852654

                                volume  total_turnover  prev_close
order_book_id date
000001.XSHE   2015-01-05  4.966040e+06    4.565388e+09       15.84
              2015-01-06  3.761152e+06    3.453446e+09       16.02
              2015-01-07  2.951601e+06    2.634796e+09       15.78
              2015-01-08  2.443951e+06    2.128003e+09       15.48
              2015-01-09  4.355039e+06    3.835378e+09       14.96
...                                ...             ...         ...
603998.XSHG   2015-06-24  0.000000e+00    0.000000e+00       65.11
              2015-06-25  0.000000e+00    0.000000e+00       65.11
              2015-06-26  0.000000e+00    0.000000e+00       65.11
              2015-06-29  0.000000e+00    0.000000e+00       65.11
              2015-06-30  0.000000e+00    0.000000e+00       65.11

[317880 rows x 7 columns]

In [21]:
daily_daily.join(st_long)

                                 open         high          low        close  \
order_book_id date
000001.XSHE   2015-01-05  1503.554091  1530.823052  1466.882040  1506.375018
              2015-01-06  1490.389765  1541.166451  1462.180495  1483.807602
              2015-01-07  1463.120804  1488.509147  1438.672770  1455.598332
              2015-01-08  1457.478950  1464.061113  1401.060410  1406.702264
              2015-01-09  1401.060410  1492.270383  1383.194539  1417.985972
...                               ...          ...          ...          ...
603999.XSHG   2015-12-25    40.150000    40.150000    40.150000    40.150000
              2015-12-28    44.170000    44.170000    44.170000    44.170000
              2015-12-29    48.590000    48.590000    48.590000    48.590000
              2015-12-30    53.450000    53.450000    53.450000    53.450000
              2015-12-31    58.800000    58.800000    58.000000    58.800000

                                volume  total_turnover  prev_close  st_status
order_book_id date
000001.XSHE   2015-01-05  4.966040e+06    4.565388e+09       15.84      False
              2015-01-06  3.761152e+06    3.453446e+09       16.02      False
              2015-01-07  2.951601e+06    2.634796e+09       15.78      False
              2015-01-08  2.443951e+06    2.128003e+09       15.48      False
              2015-01-09  4.355039e+06    3.835378e+09       14.96      False
...                                ...             ...         ...        ...
603999.XSHG   2015-12-25  2.140000e+05    8.592100e+06       36.50      False
              2015-12-28  2.579000e+05    1.139144e+07       40.15      False
              2015-12-29  3.143010e+05    1.527189e+07       44.17      False
              2015-12-30  6.016130e+05    3.215622e+07       48.59      False
              2015-12-31  2.828588e+07    1.662659e+09       53.45      False

[666154 rows x 8 columns]

In [15]:
suspended = pd.read_parquet(r"D:\Data_Root\trading_details\suspended_2015.parquet")

In [16]:
suspended = suspended.T.stack().to_frame()
suspended.index.names = ['order_book_id', 'date']
suspended.columns = ['status']
suspended

                          status
order_book_id date
000001.XSHE   2015-01-05   False
              2015-01-06   False
              2015-01-07   False
              2015-01-08   False
              2015-01-09   False
...                          ...
603999.XSHG   2015-12-25   False
              2015-12-28   False
              2015-12-29   False
              2015-12-30   False
              2015-12-31   False

[687836 rows x 1 columns]

In [27]:
import datetime
import sys
from typing import Any

def log(*args: Any, **kwargs: Any) -> None:
    """
    增强的日志函数，显示时间并打印语句
    
    参数:
        *args: 要打印的内容，多个参数会自动用空格分隔
        **kwargs: 额外的打印选项，如sep、end等
    """
    # 获取当前时间
    current_time = datetime.datetime.now()
    
    # 格式化时间字符串
    # 可以调整格式：%Y-%m-%d %H:%M:%S.%f 包含毫秒
    # %Y-%m-%d %H:%M:%S 标准格式
    time_str = current_time.strftime("%Y-%m-%d %H:%M:%S")
    
    # 构建日志前缀
    log_prefix = f"[{time_str}]"
    
    # 处理额外参数
    sep = kwargs.get('sep', ' ')
    end = kwargs.get('end', '\n')
    file = kwargs.get('file', sys.stdout)
    
    # 打印时间和内容
    print(log_prefix, *args, sep=sep, end=end, file=file)

# ========== 使用示例 ==========

if __name__ == "__main__":
    # 基本使用
    log("程序开始运行")
    log("用户登录", "用户ID: 12345")
    
    # 带有变量的日志
    user_name = "张三"
    age = 25
    log(f"用户信息: 姓名={user_name}, 年龄={age}")
    
    # 错误日志示例
    try:
        result = 10 / 0
    except Exception as e:
        log(f"发生错误: {e}", file=sys.stderr)
    
    log("程序结束")

[2026-02-09 16:04:43] 程序开始运行
[2026-02-09 16:04:43] 用户登录 用户ID: 12345
[2026-02-09 16:04:43] 用户信息: 姓名=张三, 年龄=25
[2026-02-09 16:04:43] 程序结束

[2026-02-09 16:04:43] 发生错误: division by zero

In [7]:
a = daily_daily.combine_first(limit)
b = daily_daily.join(limit)

In [11]:
a = a[b.columns]

In [13]:
a == b

                          open  high   low  close  volume  total_turnover  \
order_book_id date
000001.XSHE   2015-01-05  True  True  True   True    True            True
              2015-01-06  True  True  True   True    True            True
              2015-01-07  True  True  True   True    True            True
              2015-01-08  True  True  True   True    True            True
              2015-01-09  True  True  True   True    True            True
...                        ...   ...   ...    ...     ...             ...
603999.XSHG   2015-12-25  True  True  True   True    True            True
              2015-12-28  True  True  True   True    True            True
              2015-12-29  True  True  True   True    True            True
              2015-12-30  True  True  True   True    True            True
              2015-12-31  True  True  True   True    True            True

                          prev_close  limit_up  limit_down
order_book_id date
000001.XSHE   2015-01-05        True      True        True
              2015-01-06        True      True        True
              2015-01-07        True      True        True
              2015-01-08        True      True        True
              2015-01-09        True      True        True
...                              ...       ...         ...
603999.XSHG   2015-12-25        True      True        True
              2015-12-28        True      True        True
              2015-12-29        True      True        True
              2015-12-30        True      True        True
              2015-12-31        True      True        True

[666154 rows x 9 columns]

In [14]:
(a == b).sum()

open              666154
high              666154
low               666154
close             666154
volume            666154
total_turnover    666154
prev_close        666154
limit_up          666154
limit_down        666154
dtype: int64

In [18]:
daily_daily.join(suspended).isna().sum()

open              0
high              0
low               0
close             0
volume            0
total_turnover    0
prev_close        0
status            0
dtype: int64

In [7]:
str = pd.read_parquet(r"G:\quant_road\str.parquet")

In [8]:
str

                          str_factor
order_book_id date
000001.XSHE   2016-01-04   -0.020808
              2016-01-05   -0.008428
              2016-01-06   -0.008015
              2016-01-07   -0.015674
              2016-01-08   -0.015588
...                              ...
689009.XSHG   2025-12-25    0.010627
              2025-12-26   -0.003741
              2025-12-29   -0.004122
              2025-12-30   -0.011673
              2025-12-31   -0.013047

[10117895 rows x 1 columns]